<div class="xv-product style shadow-around ">
  <figure>
    <a href="/products/sample-products-22">
      <div class="reveal">
        <img class="owl-lazy xv-superimage"
          src="//planet-17.myshopify.com/cdn/shop/products/m6-compressor_medium.png?v=1459959684"
          alt="Sample Products 22" style="opacity: 1;"> <img class="hidden"
          src="//planet-17.myshopify.com/cdn/shop/products/h3-compressor_large.png?v=1459959878"
          alt="Sample Products 22">
      </div>
    </a>
  </figure><!--figure-->

  <div class="xv-product-content">
    <h3><a href="/products/sample-products-22">Sample Products 22</a></h3>
    <span class="color-opt"> Smart Phones </span>
    <span class="shopify-product-reviews-badge" data-id="5957087559"></span>
    <span class="xv-price"> $60.00 </span>
    <form method="post" action="/cart/add">
      <div style="display:none;">
        <select name="id">

          <option value="18772192327">Default Title - $60.00</option>

        </select>
      </div>
      <button type="submit" name="add" class="product-buy flytoQuickView" data-qv-tab="#qvt-cart"> Buy </button>
    </form>
  </div>
</div>
