.content {
  height: 100dvh;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(240, 151, 35, 0.75);
}
.btn-success {
  background-color: #0aad4b !important;
  border-color: #07943f !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #089d43 !important;
}
body {
  background-color: #f6f8fa;
}
.actions {
  margin: 24px 0 8px 0;
}
.page-btn {
  background-color: #f8f9fa;
  color: #212529;
}
.page-btn:hover {
  color: black;
}
.page-btn:hover,
.page-btn:focus,
.page-btn:active {
  box-shadow: none;
  outline: none;
}
.content {
  margin: auto;
}
.btn-white {
  background: white;
}
.no-date-range-selected {
  margin-top: 30px;
}
.no-date-range-selected .img {
  max-width: 130px;
  object-fit: cover;
  margin: auto;
}
.progress {
  max-width: 730px;
}
.progress .progress-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgb(227, 237, 250);
  overflow: visible;
}
.progress .progress-bar p {
  margin-left: 15px;
}
.responses-count {
  margin-left: auto;
  flex-shrink: 0;
}
.info {
  margin-left: 8px;
}
.responses {
  height: calc(100dvh - 480px);
  min-height: 150px;
  overflow: auto;
  overflow-x: hidden;
}
.responses .response {
  padding-left: 8px;
  transition: 150ms background-color;
}
.responses .response.active,
.responses .response:hover {
  background-color: #f8f9fa;
}
.responses .response .box {
  margin-left: 4px;
}
.no-responses-card {
  padding: 25px 16px;
  min-height: 250px;
  height: calc(100dvh - 280px);
  overflow: auto;
  overflow-x: hidden;
}
.no-responses-card .center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.no-responses-card .entry {
  margin: 0 0 10px;
}
.no-responses-card .entry .answer {
  padding: 14px 15px;
  border: 1px solid #d4dbe2;
  border-radius: 4px;
  background-color: #f6f8fa;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px;
}
.no-responses-card .entry .title {
  font-size: 15px;
  font-weight: 700;
  color: #29333a;
  word-break: break-word;
  margin: 10px 0;
}
.no-responses-card .loading {
  width: 100%;
  height: 100%;
  margin: auto;
}
