.article-image {
  aspect-ratio: 1200/628;
  object-fit: cover;
  object-position: center center;
}
.dashed-note {
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto 32px;
  position: relative;
  text-align: center;
  color: #333;
}
.dashed-note:before,
.dashed-note:after {
  content: "";
  height: 1px;
  width: 32%;
  background: #8f9bad;
  position: absolute;
  top: 50%;
}
.dashed-note:after {
  left: 0;
}
.dashed-note:before {
  right: 0;
}
.category-image {
  aspect-ratio: 1/1.36;
  object-fit: cover;
  object-position: center center;
}
.lecture-image {
  aspect-ratio: 1 / 0.6;
  object-fit: cover;
  object-position: center center;
}
.mh-100vh {
  max-height: 100vh;
}
