.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 180px 30px;
}
.hero-section .bg {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(80deg, #111111, #203656);
  background: linear-gradient(135deg, #2abde9 0%, #002136 100%);
}
.hero-section .shape {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: linear-gradient(#111111, #41587c);
  background: linear-gradient(135deg, #2abde9 0%, #002136 100%);
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 50%);
  animation: 4s ease-in-out right-left alternate infinite;
}
@keyframes left-right {
  0% {
    right: 160px;
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
    right: calc(100% - 160px);
  }
}
@keyframes right-left {
  0% {
    left: 160px;
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
    left: calc(100% - 160px);
  }
}
.hero-section .shape-1 {
  animation-name: left-right;
  top: 40px;
}
.hero-section .shape-2 {
  bottom: 40px;
}
@keyframes scale-bounce {
  0% {
    transform: scale(1);
    rotate: -15deg;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: -15deg;
    transform: scale(0.6);
  }
  75% {
    rotate: 15deg;
  }
  100% {
    transform: scale(1);
    rotate: -15deg;
  }
}
.hero-section .content {
  /* background: rgba(15, 15, 15, 0.5); */
  backdrop-filter: blur(4px);
  background: transparent;
  border: 1px solid #00000040;
  /* background: linear-gradient(
    75deg,
    rgba(20, 20, 20, 0.85) -40%,
    rgba(72, 118, 187, 0.5) 100%
  );
  border: 1px solid black;
  */
  padding: 45px 65px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(15, 15, 15, 0.8);
  position: relative;
  color: rgb(247, 247, 247);
  z-index: 3;
  transition: 0.5s ease-in-out;
}
.hero-section .content .star-1 {
  display: inline-block;
  width: 40px;
  opacity: 0.8;
  color: white;
  animation: 3s ease-in-out scale-bounce forwards infinite;
}
.hero-section .content .title {
  color: rgb(240, 240, 240);
  margin: 0 0 16px 0;
}
.hero-section .content .lead {
  font-weight: 400;
  color: rgb(225, 225, 225);
}
.about-walid {
  text-size-adjust: 100%;
  color: rgb(22, 28, 45);
}
.about-walid .title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  color: #161c2d;
}
@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-3 {
    font-size: 3rem !important;
  }
}
.about-walid .desc {
  font-size: 20px;
  line-height: 32px;
}
.about-walid h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #161c2d;
  text-align: start;
}
.about-walid p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: start;
  color: rgb(77, 89, 105);
}
.about-walid img {
  padding: 20px;
}
.aboutus-section,
.learn-section {
  color: black;
}
.aboutus-section {
  background: white;
}
.aboutus-section .lead {
  max-width: 700px;
  margin: auto;
}
.courses-section,
.learn-section {
  background: #f5f6fa;
}
.courses-section {
  color: #898989;
  margin: 0;
}
.courses-section .card {
  border: none;
}
.courses-section .card .card-content {
  padding: 24px;
}
.courses-section .card .card-content .card-title {
  font-size: 20px !important;
  color: #222;
  margin: 0px;
  transition: all 0.3s;
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 400;
}
.courses-section .courseBrief:hover .card-title {
  color: #0191bd;
}
.courses-section .courseBrief {
  display: block;
  width: 100%;
  height: 94%;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px !important;
  overflow: hidden;
  color: #fff;
}
.courses-section .courseBrief .coursePrice {
  position: absolute;
  top: 20px;
  opacity: 1;
  transition: all 0.3s;
  z-index: 3;
}
.courses-section .courseBrief .coursePrice span {
  color: #fff;
  font-size: 14px;
  background-color: #2e486e;
  padding: 2px 17px;
  border-radius: 250px;
  margin-bottom: 10px;
}
.courses-section .courseDescription {
  color: #898989;
  font-size: 16px;
  margin: 5px 0px 20px 0px !important;
}
.courses-section .courseBrief:hover .fullBlueLayer {
  opacity: 1;
}
.courses-section .courseBrief .fullBlueLayer {
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
.courses-section .fullBlueLayer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, transparent, rgba(17, 17, 17, 0.702));
  opacity: 1;
  z-index: 1;
  text-align: center;
  color: #fff;
}
.courses-section .courseBrief:hover .courseBriefImg img {
  transform: scale(1.05);
}
.courses-section .card .card-image {
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
}
.courses-section .card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.courses-section .courseBriefImg img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}
