/* === product elemtn === */
.shadow-around {
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px #0000001a;
}
.product .reveal img {
  aspect-ratio: 1.2/1;
}
.product .review {
  color: #dd9209;
}
.xv-product {
  width: auto;
  position: relative;
  background: #fff;
  margin: 15px 5px;
  z-index: 20;
}
.xv-product.style {
  position: relative;
  background: #fff;
  margin: 6px;
}
.xv-product > figure {
  margin: 0;
  border-bottom: 1px solid #f0f2f5;
  position: relative;
  text-align: center;
}
.packages figure {
  border-bottom: none;
}
.xv-product-content {
  padding: 20px;
}
.xv-product-content {
  color: #757575;
  font-size: 12px;
}
.xv-product-content h3 {
  margin: 0;
  padding: 5px 0;
  line-height: 0.9;
  display: inline-block;
  height: 5.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.xv-product-content .color-opt {
  padding: 5px 0;
  height: 2rem;
}
.xv-product-content .xv-price {
  color: var(--color);
  font-size: 18px;
  padding: 5px 0;
  display: block;
}
.reveal {
  position: relative;
}
.xv-product-content h3 a {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
}
.product-buy.product-buy {
  text-decoration: none;
  display: block;
  width: 55px;
  height: 45px;
  background: #5fb7ea;
  position: absolute;
  right: -5px;
  bottom: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
  border: none;
}
.product-buy.product-buy:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: -20px;
  z-index: -1;
  top: 0;
  transform: skew(-42deg);
  -webkit-transform: skew(-42deg, 0deg);
  -moz-transform: skew(-42deg, 0deg);
  -o-transform: skew(-42deg, 0deg);
  -ms-transform: skew(-42deg, 0deg);
}
.product-buy.product-buy:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3b72b9;
  z-index: -2;
}
.xv-product figure img {
  max-width: 260px !important;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  object-fit: cover;
  object-position: center center;
}
.products-carousel .owl-nav.disabled {
  display: block;
}
.owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.reveal .hidden {
  display: block !important;
  visibility: visible !important;
}
.reveal .hidden {
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.header-carousel .owl-item img {
  height: 400px;
  max-width: 100%;
  object-fit: cover;
}
